$black : #000;
$grayText : #333;
$darkBg: #222;
$darkBlue: #172530;
$bg: #fff;
$grayBg: #727272;
$yellow: #baff00;

:root {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    &:visited{
        color: black;
    }
    &:active{
        color: black;
    }
}

@mixin flex-center($content) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @if ($content==1) {
        align-content: center;
    }
}

@mixin font-bold($rem) {
    font-size: $rem+#{rem};

    @if ($rem >=1.4) {
        font-weight: bold;
    }
}

@mixin button-flavore($bef, $af) {
    border: 5px solid $bef;
    @include font-bold(2);
    padding: 20px 40px;
    margin-left: 5%;
    margin-bottom: 20px;
    color: $bef;
    position: relative;
    transition: .4s;

    &::after,
    &::before {
        content: '';
        height: 5px;
        width: 12%;
        background-color: $bef;
        position: absolute;
        top: 75%;
        left: 96%;
        transition: .4s;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
    }

    &::before {
        top: 85%;
    }

    &:hover::before {
        background-color: $af;
        height: 2px;
    }

    &:hover::after {
        left: 5000px;
    }

    &:hover {
        color: $af;
        border: 2px solid $af;
        @include font-bold(2.1)
    }
}

@mixin titleSections {
    @include font-bold(6);
    text-transform: capitalize;

    >strong {
        background-color: $yellow;
        padding: 5px;
    }
}

body {
    background-color: $bg;
    font-family: 'Lato', sans-serif;
}